<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 8: E-commerce Product Grid</title>
    <link rel="stylesheet" href="../styles/grid.css">
</head>
<body>
    <div class="ecommerce-container">
        <aside class="filter-sidebar">
            <h3>Filters</h3>
            <div class="filter-group">
                <label><input type="checkbox"> Electronics</label><br>
                <label><input type="checkbox"> Fashion</label><br>
                <label><input type="checkbox"> Home</label>
            </div>
        </aside>

        <main class="product-area">
            <h1>Our Products</h1>
            <div class="product-grid">
                <div class="product-card">
                    <img src="../../Lab03-css/images/gallery/iPhone 17 Pro.jpeg" alt="Product">
                    <h4>iPhone 17 Pro lineup</h4>
                    <p>RS. 5,000,000</p>
                    <button>Add to Cart</button>
                </div>
                <div class="product-card"><img src="../../Lab03-css/images/gallery/Mac Book pro.jpg" alt="Product"><h4>Macbook Pro</h4><p>RS. 350,000</p><button>Add to Cart</button></div>
                <div class="product-card"><img src="../../Lab03-css/images/gallery/Apple watch.jpg" alt="Product"><h4>Apple Watch</h4><p>RS. 90,000</p><button>Add to Cart</button></div>
                <div class="product-card"><img src="../../Lab03-css/images/gallery/iphone 17.jpg" alt="Product"><h4>iPhone 17</h4><p>RS. 190,000</p><button>Add to Cart</button></div>
            </div>
        </main>
    </div>
</body>
</html>